# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env

# Yit Local Data (if run locally)
.yit/
results.json
history.json
q.txt

# OS
.DS_Store
Thumbs.db

# Tests
tests/

dist/
